* {
  font-family: 'DotGothic16', sans-serif;
  text-align: center;
}
body{
  background:url("light.jpg");
  background-repeat: repeat;
}
h1 {
  font-size: 450%;
  display: block;
  text-align: center;
}
h3 {
  font-size: 200%;
  display: block;
  text-align: center;
  margin-top: -23px;
}
input {
  text-align: center;
  padding: auto + 10px;
  width: 20vw;
}
.btn{
  height: 50px;
  border-radius: 5px;
  margin-top: 7px;
}
p {
  font-size: larger;
}
img {
  background-color:rgb(165, 214, 206,0.5);
  border-radius: 15px;
  margin-top: 5vh;
}